<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @reservation.client_id %>
</p>

<p>
  <b>Start date:</b>
  <%= @reservation.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @reservation.end_date %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
