<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @lesson.day %>
</p>

<p>
  <b>Start:</b>
  <%= @lesson.start %>
</p>

<p>
  <b>Nhours:</b>
  <%= @lesson.nhours %>
</p>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
